name: cron
on:
  push:
    branches: [ main ]
  schedule:
  - cron: '1 * * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
    - run: npm install
    - shell: bash
      env:
        DROPBOX_APP_KEY: ${{ secrets.DROPBOX_APP_KEY }}
        DROPBOX_APP_SECRET: ${{ secrets.DROPBOX_APP_SECRET }}
        DROPBOX_REFRESH_TOKEN: ${{ secrets.DROPBOX_REFRESH_TOKEN }}
        NYT_COOKIE: ${{ secrets.NYT_COOKIE }}
        DROPBOX_NYTC_PATH: ${{ secrets.DROPBOX_NYTC_PATH }}
        DROPBOX_WSJC_PATH: ${{ secrets.DROPBOX_WSJC_PATH }}
      run: node main.js
